#skills {
  position: absolute;
  top: 15%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.dot {
  height: 150px;
  margin: 20px;
  width: 150px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
img {
  display: block;
  margin: auto;
  margin-top: 15px !important;
  padding: 7px;
  max-width: 50%;
  max-height: 50%;
}
