#skills {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 100%;
}

.dot {
  height: 130px;
  margin: 15px;
  width: 130px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
h2 {
  margin: 0.5%;
}
img {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 8px;
  max-width: 30%;
  max-height: 30%;
}
#other {
  color: #fff;
}

.specify .dot:hover {
  visibility: visible;
  height: 200px;
  width: 200px;
}
#sum {
  visibility: hidden;
}
